<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Eleventy">
    <meta name="google-site-verification" content="google61f2055e7b523a30.html" />
    <!--seo.njk-->
    {% include 'seo.njk' %}
    <link rel="shortcut icon" href="../assets/logo.svg" type="image/x-icon">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta name="google-site-verification" content="OtHaWsSab0T4z_rBkV3_J2pi2zVUrxDcCOersnwWQSE" />
</head>
<body>
    {% include 'header.njk' %}

    <main>
        {{ content | safe}}
    </main>
    

    {% include 'footer.njk' %}
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", (user) => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>
</html>