<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Eleventy">
    <!--seo.njk-->
    {% include 'seo.njk' %}
    <link rel="shortcut icon" href="../assets/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    {% include 'header.njk' %}

    <main>
        {{ content | safe}}
    </main>
    

    {% include 'footer.njk' %}
    <script>
        // Theme Toggle Logic
        const toggleBtn = document.getElementById('theme-toggle');
        const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)');
        
        // Function to set theme
        const setTheme = (theme) => {
            document.documentElement.setAttribute('data-theme', theme);
            localStorage.setItem('theme', theme);
        };

        // Initialize theme
        const currentTheme = localStorage.getItem('theme');
        if (currentTheme) {
            document.documentElement.setAttribute('data-theme', currentTheme);
        } else {
            // If no stored preference, use system preference
            if (prefersDarkScheme.matches) {
                document.documentElement.setAttribute('data-theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
            }
        }

        // Toggle event listener
        if (toggleBtn) {
            toggleBtn.addEventListener('click', () => {
                let theme = document.documentElement.getAttribute('data-theme');
                if (theme === 'dark') {
                    setTheme('light');
                } else {
                    setTheme('dark');
                }
            });
        }

        // Listen for system preference changes
        prefersDarkScheme.addEventListener('change', (e) => {
            if (!localStorage.getItem('theme')) {
                if (e.matches) {
                    document.documentElement.setAttribute('data-theme', 'dark');
                } else {
                    document.documentElement.setAttribute('data-theme', 'light');
                }
            }
        });

        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", (user) => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>
</html>