---
title: Blog
layout: base.njk
---

            <div class="section container">
              <h1 class="section-title">Recent articles</h1>
              <ul role="list" class="articles__list flow">
                <li>
                  <article class="snippet">
                    <img src="/assets/blog-images/chivharo-cheCoke.jpg" alt="a man on his computer" class="snippet__image">
                    <h3 class="snippet__title"><a href="/blog/another-article/">Another article!!</a></h3>
                    <p class="snippet__meta">by <span>Courtney Frdareck</span> on <span>Jun 15, 2021</span></p>
                    <p class="snippet__body">This is a new article that I&#39;ll be posting</p>
                    <a href="/blog/another-article/" class="btn btn--primary">Continue Reading</a>
                  </article>
                </li>
                <li>
                  <article class="snippet">
                    <img src="/assets/blog-images/kudhorobha.jpg" alt="This is a test" class="snippet__image">
                    <h3 class="snippet__title"><a href="/blog/my-fifth-article/">My Fifth Article</a></h3>
                    <p class="snippet__meta">by <span>Courtney Frdareck</span> on <span>Jun 14, 2021</span></p>
                    <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p>
                    <a href="/blog/my-fifth-article/" class="btn btn--primary">Continue Reading</a>
                  </article>
                </li>
                <li>
                  <article class="snippet">
                    <img src="/assets/blog-images/kumusha.jpg" alt="This is a test" class="snippet__image">
                    <h3 class="snippet__title"><a href="/blog/my-fourth-article/">My Fourth Article</a></h3>
                    <p class="snippet__meta">by <span>Courtney Frdareck</span> on <span>May 31, 2021</span></p>
                    <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p>
                    <a href="/blog/my-fourth-article/" class="btn btn--primary">Continue Reading</a>
                  </article>
                </li>
                <li>
                  <article class="snippet">
                    <img src="/assets/blog-images/kurwizi.jpg" alt="This is a test" class="snippet__image">
                    <h3 class="snippet__title"><a href="/blog/my-third-article/">My Third Article</a></h3>
                    <p class="snippet__meta">by <span>Courtney Frdareck</span> on <span>May 27, 2021</span></p>
                    <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p>
                    <a href="/blog/my-third-article/" class="btn btn--primary">Continue Reading</a>
                  </article>
                </li>
                <li>
                  <article class="snippet">
                    <img src="/assets/blog-images/welcome2zim.jpg" alt="This is a test" class="snippet__image">
                    <h3 class="snippet__title"><a href="/blog/my-second-article/">My Second Article</a></h3>
                    <p class="snippet__meta">by <span>Courtney Frdareck</span> on <span>May 14, 2021</span></p>
                    <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p>
                    <a href="/blog/my-second-article/" class="btn btn--primary">Continue Reading</a>
                  </article>
                </li>
                <li>
                  <article class="snippet">
                    <img src="/assets/blog-images/welcome2zim.jpg" alt="This is a test" class="snippet__image">
                    <h3 class="snippet__title"><a href="/blog/my-first-article/">My First Article</a></h3>
                    <p class="snippet__meta">by <span>Courtney Frdareck</span> on <span>Apr 30, 2021</span></p>
                    <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p>
                    <a href="/blog/my-first-article/" class="btn btn--primary">Continue Reading</a>
                  </article>
                </li>
              </ul>
            </div>


    <script>
        // Check for saved theme preference, otherwise use system preference
        function getPreferredTheme() {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme) {
                return savedTheme;
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        }
        
        // Function to set theme
        function setTheme(theme) {
            if (theme === 'dark') {
                document.documentElement.setAttribute('data-theme', 'dark');
            } else {
                document.documentElement.removeAttribute('data-theme');
            }
            localStorage.setItem('theme', theme);
        }
        
        // Initialize theme
        document.addEventListener('DOMContentLoaded', () => {
            // Set initial theme
            setTheme(getPreferredTheme());
        
            // Add toggle button listener
            const toggleButton = document.getElementById('theme-toggle');
            toggleButton.addEventListener('click', () => {
                const currentTheme = document.documentElement.getAttribute('data-theme');
                const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
                setTheme(newTheme);
            });
        
            // Listen for system theme changes
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (e) => {
                if (!localStorage.getItem('theme')) {  // Only if user hasn't manually set theme
                    setTheme(e.matches ? 'dark' : 'light');
                }
            });
        });
        </script>
