---
permalink: "sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    {% if page.url and page.url != "/404.html" %}
    <url>
      <loc>{{ metadata.siteUrl | default("https://courtnotes.netlify.app") }}{{ page.url }}</loc>
      {# Ensure the date is formatted as YYYY-MM-DD #}
      <lastmod>{{ page.date.toISOString().split('T')[0] if page.date else "2024-01-01" }}</lastmod>
    </url>
    {% endif %}
  {% endfor %}
</urlset>